*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  line-height: 1.5;
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #222;
}

main *,
.main-header * {
  transition: 0.5s all ease;
}

/*** atoms ***/

a {
  color: #003363;
}

a:focus {
  outline: 0.2rem solid #fa6603;
  outline-offset: 0.1rem;
}

a:hover,
a:active {
  color: #fa6603;
}

button {
  background: #003363;
  color: #fefefe;
  border: 0.2rem solid #fa6603;
  cursor: pointer;
  padding: 0.5rem;
}

button.success {
  background-color: #2c6e00;
  color: #fefefe;
}

button:hover,
button:focus,
button:active {
  color: #222;
  background: #ffce31;
}

main ul,
main ol {
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

main li {
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5,h6 {
  color: #003363;
}

h2, h3 {
  border-bottom: 0.2rem solid #fa6603;
  margin-bottom: 0.5rem;
}

img {
  object-fit: contain;
}

strong {
  padding: 0.2rem 0.5rem;
  background: #ffce31;
  color: #222;
  white-space: nowrap;
  clip-path: polygon(2% 2%, 98% 7%, 100% 99%, 4% 95%);
}

.v-md strong {
  white-space: initial;
  clip-path: initial;
}

main p {
  margin-bottom: 0.8rem;
}

fieldset {
  border: 0.2rem solid #fa6603;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

legend {
  padding: 0 0.5rem;
}

input,
textarea,
select {
  width: 100%;
  border: 0.1rem solid #ffce31;
  padding: 0.6rem;
  background-color: #fefefe;
}

input:focus,
textarea:focus,
select:focus {
  border: 0.1rem solid #003363;
}

*:disabled {
  background: #ccc;
  color: #333;
  cursor: not-allowed;
}

label + input,
textarea + input,
select + input {
  margin-bottom: 0.5rem;
}

form label {
  cursor: pointer;
}

.feedback {
  margin: 0.4rem 0;
  padding: 1rem 1rem 1rem 5rem;
  background-color: #2c6e00;
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: 2% center;
  color: #fefefe;
  z-index: 40;
}

.feedback.ok {
  background-image: url("icons/ok.svg");
}

.feedback.ko {
  background-color: #b82626;
  background-image: url("icons/ko.svg");
}

a.github-link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 3rem;
  width: 3rem;
  background-image: url("icons/github-octocat.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 3rem;
  color: #f0f0f0;
  overflow: hidden;
  text-indent: -15rem;
  transform: rotate(45deg);
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 70%;
  padding: 0.2rem;
}

.github-link:hover,
.github-link:focus {
  transform: rotate(0deg) translateX(-0.5rem) translateY(0.5rem);
  text-indent: 0;
  width: 4rem;
  background-color: #003363;
  background-size: 1rem;
  background-position: 100% 65%
}

div.progress {
  margin: 1rem auto;
}

div.progress::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: #003363;
  border: 0.5rem solid #fa6603;
  border-top: 0.5rem solid #003363;
  border-bottom: 0.5rem solid #003363;
  margin: 0 auto;
  border-radius: 50%;
  animation: progress 1.5s ease-in-out infinite;
}

@keyframes progress {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

ul.no-list-style,
ol.no-list-style {
  list-style: none;
  padding-left: 0;
}

.youtube-video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-video-container iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*** molecules ***/

/* main-info */

.main-info {
  background-color: #003363;
  color: #fefefe;
  padding: 0.8rem;
  margin: 0.5rem 0;
  transform: translateY(-1.3rem);
  margin: 0;
  padding: 0.8rem 2.5rem;
  text-align: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 99% 100%, 1% 100%);
  border: none;
}

.main-info span.alt {
  color: #fca368;
}

.main-info::before,
.main-info::after {
  content: "";
  display: block;
  background: #ffce31;
  height: 100%;
  width: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewX(8deg) translateX(1rem);
}

.main-info::after {
  left: initial;
  right: 0;
  transform: skewX(-8deg) translateX(-1rem);
}

/* main-nav */

.main-nav {
  background: #ffce31;
  clip-path: polygon(2% 2%, 98% 7%, 100% 99%, 4% 99%);
  font-weight: 800;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.main-nav li {
  margin: 0;
  list-style: none;
  padding: 0.3rem;
}

.main-nav a {
  color: #222;
  text-decoration: none;
  padding: 0.2rem;
}

.main-nav a:hover,
.main-nav a:active {
  color: #fff;
  background: #222;
}

.main-nav a.user-photo {
  padding-left: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}


/* submit-project */

.submit-project button[type='submit'] {
  width: 100%;
  padding: 1rem;
  font-size: 150%;  
  margin-bottom: 0.2rem;
}

/* footer-info */

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.footer-info img {
  background: white;
  padding: 0.3rem;
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
  margin: 0 0.5rem;
}

.footer-info p {
  white-space: nowrap;
  text-align: right;
}

/* card */

.card {
  display: flex;
  flex-flow: column;
  justify-content: start;
  padding: 1rem;
  box-shadow: 0 0 0.5rem #c0c0c0;
  height: 100%;
  width: 100%;
}

.card h3 a {
  text-decoration: none;
}

.card > a {
  line-height: 1;
}

.card img {
  width: 100%;
  filter: brightness(70%);
}

.card:hover,
.card:focus-within {
  box-shadow: 0 0 1.0rem #777;
}

.card:hover img,
.card:focus-within img {
  filter: brightness(100%);
}

.card .info {
  margin: 0.5rem 0;
}

.card .description {
  margin: 0.8rem 0;
}

.card .video {
  margin: 1rem 0;
}

.card button {
  width: 100%;
  margin-bottom: 0.2rem;
}

/* footer-links */

.footer-links {
  padding: 0 2rem;
}

.footer-links h4 {
  color: #f0f0f0;
}

.footer-links ul {
  list-style: none;
}

/* feedback-message */
.feedback-message {
  margin: auto;
  width: 40rem;
  max-width: 100%;
  position: sticky;
  top: -0.5rem;
}

.feedback-message p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback-message button {
  height: 2.3rem;
}

/* social-buttons */

.social-buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  margin: 0.7rem 0;
}

button.social-button {
  background-position: 1rem center;
  background-size: 1rem;
  background-repeat: no-repeat;
  text-align: left;
  padding-left: 3rem;
}

.social-button.facebook {
  background-image: url("social-icons/facebook_buttn.svg");
}

.social-button.twitter {
  background-image: url("social-icons/twitter_buttn.svg");
}

.social-button.google {
  background-image: url("social-icons/google_buttn.svg");
}

.social-button.github {
  background-image: url("social-icons/github_buttn.svg");
}

/* progressbar */

div.progressbar {
  position: relative;
  margin: 1rem auto;
  background-color: #003363;
  height: 2rem;
  width: 100%;
  color: #f0f0f0;
  text-align: center;
}

div.progressbar span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}

div.progressbar span.bar {
  z-index: 10;
  background-color: #fa6603;
  height: 20%;
  bottom: 0;
}

/* buttons */

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  margin: 0 0.2rem;
}

.buttons button:first-child {
  margin-left: 0rem;
}

.buttons button:last-child {
  margin-right: 0rem;
}

.buttons.end {
  justify-content: flex-end;
}

/* links-list */

.links-list {
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 0.5rem #c0c0c0;
  display: inline-block;
}

.links-list > * {
  display: inline-block;
}

.links-list ul {
  padding: 0;
  margin: 0;
}

.links-list li {
  margin: 0 0.5rem;
  list-style: none;
  display: inline-block;
}

.links-list a {
  text-decoration: none;
}

.links-list a.router-link-exact-active {
  padding: 0.2rem 0.5rem;
  background: #ffce31;
  color: #222;
}

/*** organisms ***/

/* main-header */

.main-header {
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  color: #fa6603;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #003363;
}

.main-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 0.75rem;
  background-image: linear-gradient(#fa6603, #ff6603);
  box-shadow: 0 0 0.1rem #7e7e7e;
}

.main-header h1 a {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f0f0f0;
}

.main-header h1 a:hover {
  color: #fa6603;
}

.main-header h1 a > * {
  display: block;
  margin: 0 0.5rem;
}

/* contest */

.contest {
  padding: 2rem;
  box-shadow: 0 0 0.5rem #c0c0c0;
}

.contest ol {
  list-style: none;
  padding-left: 4rem;
}

.contest ol li {
  counter-increment: rule;
  position: relative;
}

.contest ol li::before {
  content: '#' counter(rule);
  position: absolute;
  display: block;
  padding: 0.2rem 0.5rem;
  background: #ffce31;
  color: #222;
  clip-path: polygon(2% 2%, 98% 7%, 100% 99%, 4% 95%);
  left: -4rem;
  width: 3rem;
  height: 1.8rem;
  text-align: center;
  font-weight: 800;
}

/* footer */

footer {
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
  background: #003363;
  color: #fefefe;
  position: relative;
  font-size: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0.75rem;
  background-image: linear-gradient(#fa6603, #ff6603);
  box-shadow: 0 0 0.1rem #7e7e7e;
}

footer a {
  color: #fca368;
}

/*** templates ***/

/* default */

.container {
  display: flex;
  margin: auto;
  flex-flow: column;
  min-height: 100vh;
  width: 100%;
}

main {
  flex-grow: 1;
  padding: 1rem;
  width: 40rem;
  max-width: 100%;
  margin: auto;
}

main > section {
  padding: 1rem;
}

/* home */

main.home > section {
  padding: 0;
}

/* projects */

main.projects {
  width: 100%;
}

main.projects ul.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* project */

main.project section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

/* sign-in */

main.sign-in .sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
}

main.sign-in section.email {
  position: relative;
}

.social .card {
  height: auto;
}

/** vue animations **/

/* fade */

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* switch-form */

.switch-form-enter, .switch-form-leave-to {
  transition: all 0.2s ease-out;
  transform: scale(0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 799px) {

  :root {
    font-size: 18px;
  }

  body {
    width: 100%;
  }

  .main-header {
    font-size: 16px;
  }

  .container > main {
    width: 100%;
    padding: 0;
  }

  .container > header {
    flex-direction: column;
  }

  .contest {
    padding: 1rem;
  }

  .main-info {
    clip-path: unset;
    transform: initial;
  }

  footer,
  .footer-info {
    flex-direction: column;
  }

  .footer-links {
    margin-bottom: 0.7rem;
  }

  .footer-links,
  .footer-info p {
    text-align: center;
  }

}

@media screen and (max-width: 359px) {

  :root {
    font-size: 15px;
  }

  .main-header {
    font-size: 14px;
  }

}